USE [master]
GO
/****** Object:  Database [Empleados1DB]    Script Date: 30/11/2019 21:34:01 ******/
CREATE DATABASE [Empleados1DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empleados1DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Empleados1DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Empleados1DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Empleados1DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empleados1DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empleados1DB]
GO
USE [Empleados1DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/11/2019 21:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 30/11/2019 21:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departamento] PRIMARY KEY CLUSTERED 
(
	[DepartamentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 30/11/2019 21:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[Fecha_Ingreso] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Empleado] PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro]    Script Date: 30/11/2019 21:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro](
	[RegistroID] [int] IDENTITY(1,1) NOT NULL,
	[Sueldo] [decimal](18, 2) NULL,
	[DepartamentoID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Registro] PRIMARY KEY CLUSTERED 
(
	[RegistroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([DepartamentoID], [Descripcion]) VALUES (1, N'Programacion')
INSERT [dbo].[Departamento] ([DepartamentoID], [Descripcion]) VALUES (2, N'Recursos Humanos')
INSERT [dbo].[Departamento] ([DepartamentoID], [Descripcion]) VALUES (3, N'Mercadeo')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([EmpleadoID], [Nombres], [Apellidos], [Fecha_Ingreso]) VALUES (1, N'Juan Carlos', N'Reyes Jimenez', CAST(N'2001-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Empleado] ([EmpleadoID], [Nombres], [Apellidos], [Fecha_Ingreso]) VALUES (2, N'Belkis', N'Sandoval Polanco', CAST(N'2002-10-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Empleado] ([EmpleadoID], [Nombres], [Apellidos], [Fecha_Ingreso]) VALUES (3, N'Jean Carlos', N'Reyes Sandoval', CAST(N'2003-01-16T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
SET IDENTITY_INSERT [dbo].[Registro] ON 

INSERT [dbo].[Registro] ([RegistroID], [Sueldo], [DepartamentoID], [EmpleadoID]) VALUES (1, CAST(100000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Registro] ([RegistroID], [Sueldo], [DepartamentoID], [EmpleadoID]) VALUES (2, CAST(25000.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[Registro] ([RegistroID], [Sueldo], [DepartamentoID], [EmpleadoID]) VALUES (3, CAST(15400.00 AS Decimal(18, 2)), 2, 3)
SET IDENTITY_INSERT [dbo].[Registro] OFF
/****** Object:  Index [IX_DepartamentoID]    Script Date: 30/11/2019 21:34:02 ******/
CREATE NONCLUSTERED INDEX [IX_DepartamentoID] ON [dbo].[Registro]
(
	[DepartamentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpleadoID]    Script Date: 30/11/2019 21:34:02 ******/
CREATE NONCLUSTERED INDEX [IX_EmpleadoID] ON [dbo].[Registro]
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Registro]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Registro_dbo.Departamento_DepartamentoID] FOREIGN KEY([DepartamentoID])
REFERENCES [dbo].[Departamento] ([DepartamentoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registro] CHECK CONSTRAINT [FK_dbo.Registro_dbo.Departamento_DepartamentoID]
GO
ALTER TABLE [dbo].[Registro]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Registro_dbo.Empleado_EmpleadoID] FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleado] ([EmpleadoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registro] CHECK CONSTRAINT [FK_dbo.Registro_dbo.Empleado_EmpleadoID]
GO
USE [master]
GO
